@import '~semantic-ui-css/semantic.css';

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .content {
    flex: 1
  }
}

.ui {
  &.header {
    &.title {
      font-size: 4em;
      font-weight: normal;
    }
    &.subtitle {
      font-size: 1.7em;
      font-weight: normal;
    }
  }
  &.segment {
    &.header {
      padding: 3em 0;
    }
    &.footer {
      padding: 2em 0;
    }
  }

  &.buttons {
    .or {
      text-transform: none;
    }
  }
}
